body
{  background-image: url("parking.png");
   background-attachment:scroll;
 background-repeat:no-repeat;
 background-size:cover;
}
.form-container
{
   border:7px yellow solid;
    width:600px;
    height:300px;
    margin:300px auto;
    padding:30px;
    text-align:justify;
    color:black;
    font-weight:bold;
    font-style:italic;
    font-family:verdana;
    font-size:20px;
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: orange;
    margin-bottom: 20px;
}
