body
{  background-image: url("Parking.jpeg");
   background-attachment:scroll;
 background-repeat:no-repeat;
 background-size:cover;
}
form
{
   border:7px yellow solid;
    width:600px;
    height:460px;
    margin:100px auto;
    padding:30px;
    text-align:justify;
    color:black;
    font-weight:bold;
    font-style:italic;
    font-family:verdana;
    font-size:20px;
}
